
/* http://meyerweb.com/eric/tools/css/reset/ v2.0 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin:0; padding:0; border:0; font-size:100%; font:inherit; vertical-align:baseline}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}
blockquote, q {quotes:none}
blockquote:before, blockquote:after, q:before, q:after {content:''; content:none}

table {border-collapse:collapse; border-spacing:0}


/* my base default */
body {font-family:Verdana, Arial, sans-serif; font-size:11pt; background:#e0e0e0}

body, div, ul, ol, li, td, p, blockquote, code, pre, h1, h2, h3, h4, h5, h6 {line-height:1.4em}
p, code, pre, blockquote, ul, ol, table, dl {margin:4px 0 7px 0}
ol, ul {margin-left:15px}
sup, sub {vertical-align:baseline; position:relative; font-size:.8em}

sup {top:-0.4em}
sub {bottom:-0.3em}
small {font-size:.8em}
hr {color:#cccccc; background-color:#cccccc; height:1px; border-width:0}

table {width:100%}
table th, table td {border:1px solid #cccccc; padding:2px 3px; vertical-align:top}

table th {background:#f4f4f4}
strong, b {font-weight:bold}
em, i {font-style:italic}
table.no-border, table.no-border td {border:none; padding:0; vertical-align:top}

dt {margin-bottom:.2em; font-weight:bold; background:#e5e5e5; padding:4px 10px}

dd {padding-left:5em; margin-bottom:.4em; background:#f5f5f5}

code, pre, blockquote {background:#eeeeee; border:1px solid silver}

pre, code {padding:7px; display:block; overflow:auto; font-family:"Courier New", monospace; font-size:.8em; line-height:1.5em}

blockquote {padding:4px 4px 4px 20px; margin-left:30px; border-left:4px solid #aaaaaa}

label {cursor:pointer}
abbr, acronym {cursor:help; border-bottom:1px dashed #000000}

img {vertical-align:middle}

/* поля форм */
input, select {vertical-align:middle}
textarea {overflow:auto}
input[type="radio"], input[type="checkbox"] {margin:0; padding:0; position:relative; top:1px; cursor:pointer; vertical-align:baseline}

*+html input[type="submit"], *+html input[type="reset"], *+html input[type="button"] {overflow:visible}
fieldset {padding:5px 10px; margin:5px 0; border:1px solid #cccccc}

div.break {clear:both}
.clearfix:after {content:'.'; display:block; clear:both; visibility:hidden; height:0; line-height:0}


/* ссылки */
a.current_url {font-weight:bold}
li.current_url a {font-weight:bold}
li.current_url li a {font-weight:bold}
li.current-page {font-weight:bold}

/* база заголовков */
h1 {font-size:2.1em; margin:0 0 5px 0; font-weight:normal; line-height:1.2em}

h1.first {margin:10px 0 5px 0}
h1 a {text-decoration:none}
h1 a:hover {text-decoration:underline}
h2 {font-size:1.4em; margin:15px 0 5px 0; font-weight:normal; line-height:1.1em}

h2.first {margin:5px 0}
div.page_only h2 {margin-top:30px}
h3 {font-size:1.2em; margin:15px 0 5px 0; font-weight:bold}

h3.first {margin:5px 0}
h4 {font-size:1.1em; margin:15px 0 5px 0; font-weight:bold}

h4.first {margin:5px 0}
h5 {font-size:1.0em; margin:15px 0 5px 0; font-weight:bold}

h5.first {margin:5px 0}
h6 {font-size:.9em; margin:15px 0 5px 0; font-weight:bold}

h6.first {margin:5px 0}

/* компоненты шапки */
div.logo-links {margin:0 10px 10px 10px}
div.name_site {margin:15px 0 0 0; font-size:1.7em}

div.description_site {font-style:italic}
div.social {margin:15px 0 0 0}
div.social img {margin:0 0 0 5px}

/* рубрика если для главной вывод блоками рубрик */
div.type_home_cat_block {margin-top:15px}
div.type_home_cat_block div.header_home_cat {font-size:1.5em; margin:0; padding:3px; background:#dddddd; width:100%}

div.type_home_cat_block div.header_home_cat a {text-decoration:none}
ul.home-cat-block {margin:5px 0 20px 30px}
div.description {font-size:0.9em; font-style:italic; margin-bottom:5px}

div.description-cat {font-size:0.9em; font-weight:bold; margin:5px}


/* верхняя запись на главной */
div.home_top h1 {margin-top:0}

/* последняя запись на главной */
div.home_page_last h1 {margin-top:0}

/* описание рубрики на странице рубрики */
div.category_desc {margin:0 0 20px 0; font-weight:bold}


/* виджеты */
h2.box, div.widget_header {font-size:1.5em; line-height:1.1em; margin-bottom:5px}


/* заголовок виджета */
div.widget {margin-bottom:25px; font-size:0.9em}

div.widget a:hover {text-decoration:none}
div.widget table th, div.widget table td {border:none; vertical-align:bottom}


/* списки в виджетах */
ul.is_link {margin:0 0 4px 0; list-style-type:none}

ul.is_link ul {margin:0; list-style-type:none}

ul.is_link li {margin:0; background:url("../images/li1.png") no-repeat 0 7px; padding:0 0 0 14px}

ul.is_link li li {margin-left:10px; background:url("../images/li2.png") no-repeat 0 7px}

ul.category {color:gray}
ul.links div {margin:0px 0 5px 0; font-style:italic; color:gray; line-height:1.0em; font-size:0.9em}


/* --- только для pages --- */
div.page_only {margin-bottom:15px; padding-bottom:15px; border-bottom:1px silver dotted}


/* отступы между записями на главной */
div.type_page div.page_only {margin-bottom:0; padding-bottom:0; border-bottom:none}


/* отступ на одиночной не нужен */

/* инфо блок*/
div.info {font-size:0.8em; color:gray; margin:0 0 15px 0}

div.info span {font-weight:bold}

/* верхняя запись на главной */
div.home_top {border-bottom:1px solid #cccccc; margin-bottom:10px}


/* верхний блок на главной */

/* для текста */
div.page_content ul, div.page_content ol {margin-left:40px}

/* списки в тексте */
div.comments-link {margin:10px 0 0 0; text-align:right}


/* обсудить */

/* записи по теме */
div.page_other_pages {margin:20px 0 20px 0}
div.page_other_pages ul {list-style-type:square}

/* контактная форма */
div.type_contact table th, div.type_contact table td {border:none}
input[name="contact_antispam"] {width:30px; margin-right:5px}

div.type_contact table td.t1 {width:35%}
div.type_contact p.hint {font-style:italic; font-size:.9em}


/* --- дефолтные pages MaxSite CMS --- */

/* форма логина */
div.type_loginform div.loginform {margin:10px auto 10px auto; background:#fcfcff; padding:10px 15px; border:#dce0e7 solid 1px; line-height:1.2em; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; behavior:url(/PIE.php)}

div.type_loginform form.flogin {color:#808080; font-weight:bold}

div.type_loginform input.flogin_user, div.type_loginform input.flogin_password {width:100%}
div.type_loginform div.login-form-auth {clear:both; margin:-26px 0 15px 0; font-size:.8em; text-align:right}

div.type_loginform p.header {text-align:center; font-size:1.2em; background:#959595; padding:3px; color:white}

div.type_loginform div.form-end {text-align:right; font-size:.9em}


/* плагин форма логина */
div.widget form.flogin input.flogin_user, div.widget form.flogin input.flogin_password {width:95%}
div.widget form.flogin input.flogin_submit {margin-top:7px}

/* форма поиска */
input.s {cursor:pointer}
input.submit {cursor:pointer}

/* COMMENT FORM */
div.comment-form {font-size:0.9em; margin:10px 0; padding:10px; border:1px solid #c0c0c0; background:#f0f0f0; border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px; behavior:url(/PIE.php)}

div.comment-form textarea {width:100%; margin:5px 0}

div.comments-auth {font-size:0.9em; margin:10px 0; padding:10px; border:1px solid #c0c0c0; border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px; behavior:url(/PIE.php)}

div.comment-form p.radio {font-weight:bold}
div.comment-form p span.indent {display:inline-block; width:70px; text-align:right; vertical-align:middle; margin-right:5px}

div.comment-form p.hint {margin:5px 0 0 75px}
div.comment-form div.comments-user {font-weight:bold}

/* СООБЩЕНИЯ О КОММЕНТАРИИ */
div.comment-ok {background:#40a040; margin:10px 0; color:white; padding:10px; text-align:center; font-weight:bold; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; behavior:url(/PIE.php)}

div.comment-error {background:#ff4040; margin:10px 0; color:white; padding:10px; text-align:center; font-weight:bold; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; behavior:url(/PIE.php)}


/* комментарии */
div.comments {margin:20px 0 0 0}
div.comments ul, div.comments ol {margin:10px 0 20px 0}
div.comments li {margin:0 0 20px 30px}
div.comments li span {font-style:italic}
div.comment-info {background:#f0f0f0; padding:3px 8px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; behavior:url(/PIE.php)}

div.comments blockquote {margin-left:0; padding:10px; border-left:2px gray solid}


/* comusers*/
form.comusers-form {font-size:0.9em}
form.comusers-form p strong {display:inline-block; width:250px; height:30px; vertical-align:top; text-align:right; margin-right:5px}

form.comusers-form p strong.subscribe_my_comments {height:20px}
form.comusers-form p input[type="text"] {width:300px}
form.comusers-form p input[type="password"] {width:300px}
form.comusers-form p input[type="submit"] {width:120px; margin-left:260px}

form.comusers-form p select {width:310px}
form.comusers-form p textarea {width:300px; height:300px}

form.comusers-form p.info {background:none; color:#b00000; margin:0 0 15px 0; border:1px solid #b00000; padding:3px; text-align:center}


/* меню выпадающее */
div.MainMenu {height:35px; line-height:35px}

ul.menu, ul.menu li, ul.menu ul {list-style:none; margin:0; padding:0}

ul.menu {position:relative; z-index:7; float:left; width:100%}

ul.menu li {float:left; height:35px; line-height:35px; vertical-align:middle; position:relative}

ul.menu li.hover, ul.menu li:hover {position:relative; z-index:8}

ul.menu ul {visibility:hidden; position:absolute; top:100%; left:0; z-index:8; width:100%}

ul.menu ul li {float:none; height:auto}

ul.menu ul ul {top:1px; left:99%}

ul.menu li:hover > ul {visibility:visible}
ul.menu li a {display:block}
ul.menu li a span {display:block}

/* верхние пункты */
ul.menu li a {text-decoration:none; padding:0 5px; font-weight:bold}

ul.menu li.group a span {padding-right:15px; background:url("../images/menu-down-light.png") no-repeat right center}


/* подпункты */
ul.menu li.group ul {width:200px}
ul.menu li.group ul li a {margin:0; background:#e0e0e0; color:#404040; border-top:1px solid #a0a0a0; font-weight:normal}

ul.menu li.group ul li a:hover {color:white; background:#a0a0a0}

ul.menu li.group ul li a span {background:none}

/* --- plugins MaxSite CMS --- */

/* plugin Pagination */
div.pagination {margin:25px 0 10px 0; font-size:.9em}

div.pagination strong {padding:3px 6px}
div.pagination a {padding:3px; line-height:1.8em}


/* plugin TagClouds */
div.tagclouds {text-align:center; line-height:1.6em; font-size:8pt}

div.tagclouds span {line-height:1.6em}

/* plugin CatClouds */
div.catclouds {text-align:center}
div.catclouds span {line-height:1.4em}

/* plugin RATER */
#rater ul {margin:10px 0}

/* plugin LastComment */
div.comments ul.last_comment li {margin:5px 0}
ul.last_comment em {display:block; color:gray; text-align:right}

ul.last_comment li {margin-bottom:7px}
h2.last_comment {font-size:1.1em; font-weight:bold}


/* plugin Twitter */
div.twitter p {border-bottom:1px solid gray; padding:0 0 10px 0}

div.twitter a {font-weight:bold}

/* plugin AddZakl */
div.addzakl {margin:15px 0 0 0}
div.addzakl img {vertical-align:top}

/* plugin LAST-PAGES */
div.last-pages ul.is_link li.current_url_allcat {display:block}
div.last-pages ul.is_link li.current_url_cat {display:block}
div.last-pages ul.is_link li.current_url_page {display:block}

/* plugin CALENDAR */
div.calendar table {width:100%}
div.calendar td {border:1px solid white; text-align:center; padding:1px; font-size:8pt}

div.calendar tr.week td {background:#d5d5e1}
div.calendar div.today {background:#8591b7}
div.calendar div.today-content {background:#8591b7}
div.calendar td a {text-decoration:underline}

/* plugin SITEMAP */
div.sitemap h3 {margin:15px 0 5px 0}
h2.sitemap {margin:25px 0 0 0; background:#dddddd; padding:3px}


/* plugin PRE to OL */
div.pre {background:#f0f0f0; padding:5px; overflow:auto; margin:0 0 10px 0}

ol.pre {font-family:monospace; padding:0; margin:0 0 0 30px}

ol.pre li {padding:0; margin:0; white-space:pre}

ol.pre li.odd {background:none}
ol.pre span.php-comment {color:gray}

/* plugin FORMS */
div.forms {background:#eeeeee; padding:10px 5px 0 5px; border:#e0e0e0 1px solid; font-size:.9em}

div.forms div {margin:5px 0 15px 0}
div.forms div.break {height:0; padding:0; margin:0; clear:both}

div.forms span {display:block; float:left; text-align:right; width:200px; padding:0 10px 0 0}

div.forms div.tip {margin-left:210px; font-style:italic; font-size:0.8em}

div.forms input, div.forms select, div.forms textarea {width:400px}
div.forms textarea {height:100px}
div.forms input.forms_checkbox {width:auto}
div.forms input.forms_submit {width:auto}
div.forms input.forms_reset {width:auto}
div.forms-post h2 {color:red; font-size:18pt; margin:20px 0}


/* plugin random_gal_widget */
div.random_gal_widget {overflow:hidden}

/* plugin samborsky_polls */
table.sp_polls th, table.sp_polls td {border:none}

/* галерея lightbox */
div.gallery {font-size:0}
div.gallery img {border:1px solid silver; padding:3px; margin:3px}

div.gallery img:hover {background:silver}

/* plugin theme_switch */
div.theme_switch div.widget-content {margin-left:5px}

/* plugin tabs */
div.tabs {width:100%}
div.tabs-box.tabs-visible {display:block}
ul.tabs-nav {margin:0; padding:0; height:30px; width:100%; list-style:none}

ul.tabs-nav li.elem {float:left; display:inline; position:relative; line-height:30px; height:30px; margin:0 2px 0 0; padding:0 5px; cursor:pointer; font-size:.9em; border-radius:5px 5px 0 0; background:#eeeeee; color:#888888}

ul.tabs-nav li.elem:hover, ul.tabs-nav li.tabs-current {background:#dddddd; color:black}

div.tabs-box {display:none; background:#dddddd; padding:10px; border-radius:0 5px 0 0}


/* HELPERS */

/* messages */
.message {border:1px solid #dbdbdb; margin:4px 0 7px 0; padding:10px 10px 10px 70px; min-height:48px; -webkit-border-radius:10px; -moz-border-radius:10px; border-radius:10px; behavior:url(/PIE.php)}

.message.note {background:#dae8ee url("../images/icons/note.png") no-repeat 10px 10px; border-color:#91a0a6; color:black}

.message.alert {background:#ffe8bf url("../images/icons/alert.png") no-repeat 10px 10px; border-color:#decaa5; color:maroon}

.message.idea {background:#faf6ac url("../images/icons/idea.png") no-repeat 10px 10px; border-color:#d5d18c; color:maroon}

.message.error {background:#fb6c6c url("../images/icons/error.png") no-repeat 10px 10px; border-color:#ca5a5a; color:white}

.message.ok {background:#7fff91 url("../images/icons/ok.png") no-repeat 10px 10px; border-color:#68cd76; color:#006600}

.message.about {background:#a6d2ff url("../images/icons/about.png") no-repeat 10px 10px; border-color:#8fb3d8; color:navy}

.message.mail {background:#eaeaea url("../images/icons/mail.png") no-repeat 10px 10px; color:#404040}

.message.home {background:#eaeaea url("../images/icons/home.png") no-repeat 10px 10px; color:#404040}

.message.question {background:#eaeaea url("../images/icons/question.png") no-repeat 10px 10px; color:#404040}

.message.noicon {background-image:none; padding:10px}


/* text colors */
.red {color:red}
.blue {color:blue}
.green {color:green}
.gray {color:gray}
.black {color:black}
.white {color:white}
.yellow {color:yellow}

/* text-style */
.normal {font-weight:normal; font-style:normal; text-decoration:none}

.bold {font-weight:bold}
.italic {font-style:italic}
.underline {text-decoration:underline}
.overline {text-decoration:overline}
.strike {text-decoration:line-through}

/* background colors */
.bg-red {background-color:red}
.bg-blue {background-color:blue}
.bg-green {background-color:green}
.bg-gray {background-color:gray}
.bg-black {background-color:black}
.bg-white {background-color:white}
.bg-yellow {background-color:yellow}

/* align */
.left {float:left}
.right {float:right}
.text-left {text-align:left}
.text-right {text-align:right}
.text-center {text-align:center}
.text-justify {text-align:justify}

/* width */
.w100 {width:100%}
.w75 {width:75%}
.w70 {width:70%}
.w60 {width:60%}
.w50 {width:50%}
.w40 {width:40%}
.w33 {width:33.33%}
.w30 {width:30%}
.w25 {width:25%}

/* margins */
.margin0 {margin:0}
.margin5 {margin:5px}
.margin10 {margin:10px}
.margin15 {margin:15px}
.margin20 {margin:20px}
.margin30 {margin:30px}
.margin-center {margin:0 auto}
.margin-top10 {margin-top:10px}
.margin-right10 {margin-right:10px}
.margin-bottom10 {margin-bottom:10px}
.margin-left10 {margin-left:10px}
.margin-tb0 {margin-top:0; margin-bottom:0}

.margin-lr0 {margin-left:0; margin-right:0}


/* paddings */
.padding0 {padding:0}
.padding5 {padding:5px}
.padding10 {padding:10px}
.padding15 {padding:15px}
.padding20 {padding:20px}
.padding30 {padding:30px}
.padding-tb0 {padding-top:0; padding-bottom:0}

.padding-lr0 {padding-left:0; padding-right:0}


/* display */
.d-none {display:none}
.d-block {display:block}
.d-inline {display:inline}
.d-inline-block {display:inline-block}
.over-hidden {overflow:hidden}

/* border-radius */
.radius5 {-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; behavior:url(/PIE.php)}

.radius8 {-webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px; behavior:url(/PIE.php)}

.radius10 {-webkit-border-radius:10px; -moz-border-radius:10px; border-radius:10px; behavior:url(/PIE.php)}

div.no-border-radius, .radius0 {-webkit-border-radius:0; -moz-border-radius:0; border-radius:0}

.no-border {border:none !important}

/* box-shadow */
.box-shadow {-webkit-box-shadow:#aaaaaa 0 0 7px; -moz-box-shadow:#aaaaaa 0 0 7px; box-shadow:#aaaaaa 0 0 7px; behavior:url(/PIE.php)}

.box-shadow-none {-webkit-box-shadow:none; -moz-box-shadow:none; box-shadow:none}


/* fonts */
.arial {font-family:Arial, Verdana, sans-serif}
.verdana {font-family:Verdana, Arial, sans-serif}
.segoe {font-family:"Segoe UI", Verdana, Arial, sans-serif}
.georgia {font-family:Georgia, "Times New Roman", serif}
.times {font-family:"Times New Roman", Georgia, serif}
.courier {font-family:"Courier New", monospace}

/* img */
img.smiley {vertical-align:middle}
img.left {float:left; margin:5px 10px 5px 0}

img.right {float:right; margin:5px 0 5px 10px}

img.center {margin:0 auto; display:block}

img.border {border:1px solid #3d61b6}
img.gravatar {padding:0 10px 10px 0; background:white}

